$color-bg: #292d36;

$color-main: #98cad3;
$color-secondary: #fa603c;

body {
    background-color: $color-bg;
    color: #eee;
}

.brol-logo {
    background-color: $color-main;
    color: $color-bg;
    border-radius: 50%;

    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;

    line-height: 4rem;
    height: 4rem;
    width: 4rem;

    margin: 20px auto;
}

.btn-primary {
    background-color: $color-main;
    border-color: $color-main;
    color: $color-bg;
}

.btn-outline-primary {
    border-color: $color-main;
    color: $color-main;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: lighten($color-main, 10%);
    border-color: lighten($color-main, 10%);
}

.action-buttons {
    margin-top: 30px;
    .btn {
        font-size: 1.5rem;
        max-width: 100%;
        width: 250px;
        height: 3rem;
        border-radius: 1.5rem;

        margin: 5px;
    }
}
